.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.form {
  background: plum;
  border-radius: 10px;
  box-shadow: 1px 0px 5px rgb(68, 68, 68);
  box-sizing: border-box;
  height: 345px;
  width: 400px;
  padding: 30 px;
  margin: 120px auto;
  position:relative;
}

.hidden {
  display: none;
}

@media (max-width: 560 px){
  .order-form{
    height: 50%;
    width: 50%;
  }
}
